<!DOCTYPE html>

<html>

    <head> 

        <meta charset="utf-8">

        <title> Some website </title>

    </head>


    <body>

        {{> header}}

       
        <p> My projects are above.</p>

   
       {{> footer}}

    </body>



</html>